.#{$cls-pre}-input-group {
	position: relative;
	width: 100%;
	display: table;
	border-collapse: separate;

	.#{$cls-pre}-form-control {
		position: relative;
		z-index: 2;
		float: left;
		width: 100%;
		margin-bottom: 0;
	}

	&.search-icon {
		.#{$cls-pre}-form-control {
			padding-left: ($spacer*2);
			@include border-left-radius($border-radius !important);
		}
	}
}

.#{$cls-pre}-input-group .#{$cls-pre}-form-control,
.#{$cls-pre}-input-group-addon,
.#{$cls-pre}-input-group-btn {
	display: table-cell;

	&:not(:first-child):not(:last-child) {
		@include border-radius(0);
	}
}

.#{$cls-pre}-input-group .#{$cls-pre}-input-group-icon {
	position: absolute;
	left: 0;
	top: -2px;
	padding-left: 10px;
	padding-top: $input-padding-y;
	z-index: $zindex-navbar;
	color: $gray-text;
}

.#{$cls-pre}-input-group-addon,
.#{$cls-pre}-input-group-btn {
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
}

.#{$cls-pre}-input-group-lg > .#{$cls-pre}-form-control,
.#{$cls-pre}-input-group-lg > .#{$cls-pre}-input-group-addon,
.#{$cls-pre}-input-group-lg > .#{$cls-pre}-input-group-btn > .#{$cls-pre}-btn {
	@extend .#{$cls-pre}-form-control-lg;
}

.#{$cls-pre}-input-group-sm > .#{$cls-pre}-form-control,
.#{$cls-pre}-input-group-sm > .#{$cls-pre}-input-group-addon,
.#{$cls-pre}-input-group-sm > .#{$cls-pre}-input-group-btn > .#{$cls-pre}-btn {
	@extend .#{$cls-pre}-form-control-sm;
}

.#{$cls-pre}-input-group-addon {
	padding: $input-padding-y $input-padding-x;
	margin-bottom: 0;
	font-size: $font-size-base;
	font-weight: normal;
	line-height: $input-line-height;
	color: $input-color;
	text-align: center;
	background-color: $input-group-addon-bg;
	border: $input-btn-border-width solid $input-group-addon-border-color;
	@include border-radius($input-border-radius);

	&.#{$cls-pre}-form-control-sm {
		padding: $input-padding-y-sm $input-padding-x-sm;
		font-size: $font-size-sm;
		@include border-radius($input-border-radius-sm);
	}

	&.#{$cls-pre}-form-control-lg {
		padding: $input-padding-y-lg $input-padding-x-lg;
		font-size: $font-size-lg;
		@include border-radius($input-border-radius-lg);
	}

	input[type="checkbox"],
	input[type="radio"] {
		margin-top: 0;
	}
}

.#{$cls-pre}-input-group .#{$cls-pre}-form-control:not(:last-child),
.#{$cls-pre}-input-group-addon:not(:last-child),
.#{$cls-pre}-input-group-btn:not(:first-child) > .#{$cls-pre}-btn-group:not(:last-child) > .#{$cls-pre}-btn,
.#{$cls-pre}-input-group-btn:not(:first-child) > .#{$cls-pre}-btn:not(:last-child):not(.#{$cls-pre}-dropdown-toggle),
.#{$cls-pre}-input-group-btn:not(:last-child) > .#{$cls-pre}-btn,
.#{$cls-pre}-input-group-btn:not(:last-child) > .#{$cls-pre}-btn-group > .#{$cls-pre}-btn,
.#{$cls-pre}-input-group-btn:not(:last-child) > .#{$cls-pre}-dropdown-toggle {
	@include border-right-radius(0);
}

.#{$cls-pre}-input-group-addon:not(:last-child) {
	border-right: 0;
}

.#{$cls-pre}-input-group .#{$cls-pre}-form-control:not(:first-child),
.#{$cls-pre}-input-group-addon:not(:first-child),
.#{$cls-pre}-input-group-btn:not(:first-child) > .#{$cls-pre}-btn,
.#{$cls-pre}-input-group-btn:not(:first-child) > .#{$cls-pre}-btn-group > .#{$cls-pre}-btn,
.#{$cls-pre}-input-group-btn:not(:first-child) > .#{$cls-pre}-dropdown-toggle,
.#{$cls-pre}-input-group-btn:not(:last-child) > .#{$cls-pre}-btn-group:not(:first-child) > .#{$cls-pre}-btn,
.#{$cls-pre}-input-group-btn:not(:last-child) > .#{$cls-pre}-btn:not(:first-child) {
	@include border-left-radius(0);
}

.#{$cls-pre}-form-control + .#{$cls-pre}-input-group-addon:not(:first-child) {
	border-left: 0;
}

.#{$cls-pre}-form-control:focus + .#{$cls-pre}-input-group-icon {
	color: $brand-primary;
}

.#{$cls-pre}-input-group-btn {
	position: relative;
	font-size: 0;
	white-space: nowrap;

	> .#{$cls-pre}-btn {
		position: relative;

		&.sbtn {
			box-shadow: none !important;
			padding: 6px 1.4rem !important;
			text-transform: capitalize !important;
		}

		+ .#{$cls-pre}-btn {
			margin-left: (-$input-btn-border-width);
		}
	}

	&:not(:last-child) {
		 > .#{$cls-pre}-btn-group,
		> .#{$cls-pre}-btn {
			margin-right: (-$input-btn-border-width);
		}
	}

	&:not(:first-child) {
		> .#{$cls-pre}-btn-group,
		> .#{$cls-pre}-btn {
			z-index: 2;
			margin-left: (-$input-btn-border-width);
		}
	}
}
