/*---
	- main navbar
*/

.#{$cls-pre}-container {
	position: relative;
}

.#{$cls-pre}-header-wrap {
	height: 64px;
	margin-bottom: ($spacer - 2);
	@include borderbox();
}

.#{$cls-pre}-nav-wrap {
	position: relative;
	@include borderbox();
	@include clearfix();
}

.#{$cls-pre}-navbar {
	display: block;
	width: 100%;
	@include borderbox();
	@include clearfix();
	@include media-breakpoint-up(md) {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		@include transition(top 0.5s ease-in-out);
	}

	&.sticky {
		@include borderbox();
		top: 20px;
	}

	.#{$cls-pre}-container {
		@include borderbox();
		@include media-breakpoint-down(sm) {
			padding-left: 0px;
			padding-right: 0px;
			width: 100%;
		}
	}

	.#{$cls-pre}-row {
		@include borderbox();
		@include media-breakpoint-down(sm) {
			display: table;
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}

	.#{$cls-pre}-nav-logo {
		@include borderbox();
		position: relative;
		padding-top: 5px;
		padding-bottom: 5px;

		@include media-breakpoint-down(sm) {
			display: table-cell;
			padding-left: 60px;
			padding-top: 14px;
			padding-bottom: 14px;
			padding-right: 12px;
			vertical-align: middle;
		}

		&.auth {
			@include borderbox();
			position: relative;
			@include media-breakpoint-up(md) {
				display: table-cell;
				vertical-align: middle;
				width: 1%;
			}
			@include media-breakpoint-down(sm) {
				padding-left: 10px;
			}
		}

		.#{$cls-pre}-logo-blue {
			@include borderbox();
			@include media-breakpoint-down(sm) {
				display: none;
			}
		}

		.#{$cls-pre}-logo-black {
			@include borderbox();
			@include media-breakpoint-up(md) {
				display: none;
			}
		}

		.#{$cls-pre}-navbar-toggle {
			display: none;
			position: absolute;
			left: 0;
			top: 0px;
			bottom: 0px;
			background: none;
			background-image: none;
			border: none;
			padding: 22px 18px;
			-ms-touch-action: manipulation;
			touch-action: manipulation;
			cursor: pointer;
			@include borderbox();

			&:hover, &:focus {
				outline: none;
			}

			@include media-breakpoint-down(sm) {
				display: block;
			}

			.icon-bar {
				display: block;
				width: 20px;
				height: 2px;
				border-radius: 4px;
				background: $brand-primary;
				@include borderbox();
				@include transition(transform 0.4s ease-in-out);

				+ .icon-bar {
					@include borderbox();
					margin-top: 4px;
				}

				&:nth-child(3) {
					@include borderbox();
					@include translate(0px, 0px);
				}

				&:nth-child(2) {
					@include borderbox();
					transform: translate(0px, 0px) rotate(0deg);
					transform-origin: left center;
				}

				&:nth-child(4) {
					@include borderbox();
					transform: translate(0px, 0px) rotate(0deg);
					transform-origin: left center;
				}
			}

			&.open {
				@include borderbox();
				background: rgba($brand-primary, 0.15);

				.icon-bar {
					@include borderbox();
					&:nth-child(3) {
						@include translate(-50px, 0px);
					}

					&:nth-child(2) {
						transform: translate(2px, -2px) rotate(45deg);
    					transform-origin: left center;
					}

					&:nth-child(4) {
						transform: translate(2px, 0px) rotate(-45deg);
    					transform-origin: left center;
					}
				}
			}
		}
	}

	.#{$cls-pre}-nav-form-small {
		position: absolute;
		top: 0px;
		right: 0;
		left: 100%;
		padding: 13px 10px;
		background: #fff;
		max-width: 0%;
		overflow: hidden;
		@include borderbox();
		@include transition(all 0.3s ease-in-out);

		@include media-breakpoint-up(md) {
			display: none;
		}

		&.open {
			@include borderbox();
			@include media-breakpoint-down(sm) {
				max-width: 100%;
				left: 0;
			}
		}

		> form {
			@include borderbox();
			margin-left: 37px;
			white-space: nowrap;

			.#{$cls-pre}-form-control {
				@include borderbox();
				border: none;
				font-size: 1.2rem;
			}
		}

		.#{$cls-pre}-navbar-back {
			@include borderbox();
			position: absolute;
			left: 7px;
			background: none;
			border: none;
			background-image: none;
			padding: 6px 10px;
			color: $gray-text;
			font-size: 1.2rem;
		}
	}

	.#{$cls-pre}-nav-form {
		@include borderbox();
		position: relative;
		padding-top: 5px;
		padding-bottom: 5px;
		width: 100%;
		max-width: 100%;

		> form {
			@include borderbox();
			display: block;
			margin: 0;
			padding: 0;
		}

		@include media-breakpoint-down(sm) {
			display: none;
		}
	}

	.#{$cls-pre}-nav-navigation {
		@include borderbox();
		@include media-breakpoint-down(sm) {
			display: table-cell;
			vertical-align: middle;
			float: right;
		}

		@include clearfix();

		&.auth {
			@include borderbox();
			position: relative;
			@include media-breakpoint-up(md) {
				display: table-cell;
				vertical-align: middle;
				width: 1%;
				padding-top: 0;
			}
		}

		.#{$cls-pre}-nav-links {
			@include borderbox();
			float: right;
			position: relative;
			color: $gray-text;
			vertical-align: middle;

			i.fa {
				@include borderbox();
				color: $gray-text;
			}

			> a {
				@include borderbox();
				display: block;

				@include media-breakpoint-up(md) {
					padding-top: 12px;
					padding-bottom: 12px;
					padding-left: 11px;
					padding-right: 21px;
				}

				@include media-breakpoint-down(sm) {
					font-size: 1.2rem;
					padding: 18px 10px;
				}

				&:hover {
					background-color: rgba($brand-primary, 0.05);
				}

				&:focus {
					background-color: rgba($brand-primary, 0.15);
				}
			}



			.#{$cls-pre}-icon, .#{$cls-pre}-hexagon {
				@include borderbox();
				display: inline-block;
			}

			.#{$cls-pre}-icon {
				@include borderbox();
				margin-right: 5px;
			}

			&.active {
				@include borderbox();
				color: $brand-primary;

				> a {
					@include borderbox();
					color: $brand-primary;
				}

				i.fa {
					@include borderbox();
					color: $brand-primary;
				}

				.#{$cls-pre}-hexagon {
					@include borderbox();
					@include hexagon-active($brand-orange);
				}
			}

			.#{$cls-pre}-hexagon {
				@include borderbox();
				@include media-breakpoint-down(sm) {
					position: absolute;
					top: 13px;
					right: 4px;
				}
			}

			&.profile {
				@include borderbox();
				> a {
					@include borderbox();
					padding-top: 7px;
					padding-bottom: 7px;
					padding-right: 8px;
					padding-left: 8px;
				}

				@include media-breakpoint-down(sm) {
					display: none;
				}
			}

			&.search-btn {
				@include borderbox();
				padding-top: 0;
				padding-bottom: 0;
				display: none;

				@include media-breakpoint-down(sm) {
					display: block;
				}

				.ti-navbar-search {
					@include borderbox();
					background: none;
					background-image: none;
					border: none;
					padding: 18px 15px;

					&:hover, &:focus {
						@include borderbox();
						outline: none;
					}
				}
			}


			.#{$cls-pre}-profile-icon {
				@include borderbox();
				display: block;
				border-radius: 50%;
				border: none;
				background: $gray-text;
				width: 30px;
				height: 30px;
				overflow: hidden;
			}
		}

		.#{$cls-pre}-hexagon {
			@include borderbox();
			@include hexagon(lighten($gray-text, 20%), $brand-primary, 20px);
		}
	}

	.dropdown-menu {
		@include borderbox();
		li > a {
			@include borderbox();
			padding-top: 6px;
			padding-bottom: 6px;
		}
	}
}

.#{$cls-pre}-navbar-main {
	@include borderbox();
	background: #fff;
	box-shadow: $navbar-shadow;
}

.#{$cls-pre}-nav-top {
	@include borderbox();
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	width: 100%;
	background: #43484d;
	text-align: center;
	overflow: hidden;
	@include transition(top 0.5s ease-in-out);

	a {
		@include borderbox();
		display: inline-block;
		color: #fff;
		font-size: 0.9rem;

		&:hover {
			color: #c0e0ff;
		}

		&:focus {
			color: #d4d4d4;
		}
	}

	@include media-breakpoint-down(sm) {
		display: none;
	}
}

.#{$cls-pre}-fixed-top, .#{$cls-pre}-absolute-top {
	top: 0;
	left: 0;
	right: 0;
	@include borderbox();
}

.#{$cls-pre}-fixed-bottom, .#{$cls-pre}-absolute-bottom {
	bottom: 0;
	left: 0;
	right: 0;
	@include borderbox();
}

.#{$cls-pre}-fixed-top, .#{$cls-pre}-fixed-bottom {
	position: fixed;
	z-index: $zindex-navbar-fixed;
	@include borderbox();
}

.#{$cls-pre}-absolute-top, .#{$cls-pre}-absolute-bottom {
	position: absolute;
	z-index: $zindex-navbar;
	@include borderbox();
}

.#{$cls-pre}-nav-unauth {
	display: table;
	width: 100%;
	@include borderbox();

	.#{$cls-pre}-nav-logo {
		display: table-cell;
		vertical-align: middle;
		width: 50%;
		@include borderbox();

		@include media-breakpoint-down(sm) {
			padding-left: 15px;
		}
	}
	.#{$cls-pre}-nav-logout {
		display: table-cell;
		vertical-align: middle;
		width: 50%;
		@include borderbox();
		@include clearfix();

		@include media-breakpoint-down(sm) {
			padding-right: 15px;
		}

		.#{$cls-pre}-nav-links {
			float: right;
			@include borderbox();
		}
	}
}

.#{$cls-pre}-logo-wrap {
	@include borderbox();
	@include media-breakpoint-down(sm) {
		padding: 0;
		display: table-cell;
		vertical-align: middle;
	}
}

.#{$cls-pre}-nav-form-wrap {
	@include borderbox();
	@include media-breakpoint-down(sm) {
		display: none;
	}
}

.#{$cls-pre}-navigation-wrap {
	@include borderbox();
	@include media-breakpoint-down(sm) {
		padding: 0;
		display: table-cell;
		vertical-align: middle;
	}
}
