html {
	font-size: $font-size-root;
}

body {
	font-size: $font-size-base;
    margin: 0;
    padding: 0;
    padding-top: 70px;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;

	@include media-breakpoint-up(md) {
		background: $gray-lightest;
	}

	@include media-breakpoint-down(sm) {
		padding-top: ($body-top-padding - 23);
	}

	&.valid-body {
		@include media-breakpoint-up(md) {
			padding-top: $body-top-padding;
		}

		@include media-breakpoint-down(sm) {
			padding-top: ($body-top-padding - 30);
		}
	}
}

img {
	vertical-align: middle;
	max-width: 100%;
}

* {
	@include borderbox();

	&::before, &::after {
		@include borderbox();
	}
}

a {
	color: $brand-primary;
	text-decoration: $link-decoration;

	&:hover, &:focus {
		outline: none !important;
		color: $link-hover-color;
		text-decoration: none !important;
	}
}

button {
	&:hover, &:focus {
		outline: none;
	}
}
