html {
	font-size: $font-size-root;
}

body {
	font-size: $font-size-base;
	background: $gray-lighter
}

.#{$cls-pre}-btn {
	display: inline-block;
	padding: $btn-padding-y $btn-padding-x;
	line-height: $btn-line-height;
	font-weight: $btn-font-weight;
	text-transform: $btn-font-transform;
	letter-spacing: $btn-font-spacing;
	box-shadow: $btn-box-shadow;
	@include btn-border-radius($btn-border-radius);
	border: 1px solid transparent;
	background-image: none;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	@include touch-action(manipulation);
	@include user-select(none);
	@include tranisition(all 0.2s ease);

	&:hover, &:focus, &:active {
		outline: $btn-active-outline;
	}

	&:hover {
		box-shadow: $btn-active-box-shadow;
	}

	&:active {
		box-shadow: 0 0 1px transparent;
	}

	&:disabled {
		pointer-events: none;
		@include btn-disabled($btn-default-color, $btn-default-bg, $btn-default-border);
	}
}

.#{$cls-pre}-btn-default {
	color: $btn-default-color;
	background: $btn-default-bg;
	border-color: $btn-default-border;

	&:hover {
		@include btn-default-hover($btn-default-color, $btn-default-bg, $btn-default-border);
	}
}

.#{$cls-pre}-btn-primary {
	color: $btn-primary-color;
	background: $btn-primary-bg;
	border-color: $btn-primary-border;

	&:hover {
		@include btn-hover($btn-primary-color, $btn-primary-bg, $btn-primary-border);
	}
}

.#{$cls-pre}-btn-block {
	width: 100%;
}
