/*---
title: Navbar
resume: The navbar page
section: Navbar
---

``shades`` includes predefined **navbar** styles.

```html
<nav class="navbar"></nav>
```

*/

/*---
title: Navbar Main
---

```html
<nav class="navbar navbar-main"></nav>
```
*/

.#{$cls-pre}-navbar {
	display: block;
	border-radius: $navbar-border-radius;
	padding: $navbar-padding-y $navbar-padding-x;
	position: relative;
	@include clearfix();

	.#{$cls-pre}-brand-logo {
		position: relative;
		@include media-breakpoint-up(sm) {
			display: table-cell;
		}
	}

}

.#{$cls-pre}-navbar-main {
	background: #fff;
	box-shadow: $navbar-shadow;
}
