.#{$cls-pre}-tags {
	padding: 6px 8px;
	display: inline-block;
	font-size: 0.9rem;
	font-weight: normal;
	line-height: 1;
	vertical-align: middle;
	text-align: center;
	border: 1px solid rgba(0,0,0,0);
	@include border-radius(2px);
	@include transition(all 0.3s ease);
	background: $btn-default-border;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 3px;

	&::last-child {
		margin-right: 0;
	}
}

.tags--default {
	border: 1px solid #d9d9d9;
	background: #fff;
	color: $heading-text;

	&:hover {
		border-color: #2b69a7;
		color: $heading-text;
	}

	&:focus {
		border-color: darken(#2b69a7, 15%);
		color: $heading-text;
	}

	&:active {
		border-color: darken(#2b69a7, 15%);
		color: $heading-text;
	}
}

.tags--outline-blue {
	border: 1px solid #2b69a7;
	background: none;
	color: #2b69a7;

	&:hover {
		border-color: lighten(#2b69a7, 10%);
		color: #2b69a7;
	}

	&:focus {
		border-color: darken(#2b69a7, 15%);
		color: #2b69a7;
	}

	&:active {
		border-color: darken(#2b69a7, 15%);
		color: #2b69a7;
	}
}
