@mixin touch-action($action) {
	-ms-touch-action: $action;
	touch-action: $action;
}

@mixin user-select($action) {
	-webkit-user-select: $action;
	-ms-user-select: $action;
	-moz-user-select: $action;
	user-select: $action;
}

@mixin transition($trans...) {
	-moz-transition: $trans;
	-ms-transition: $trans;
	-webkit-transition: $trans;
	transition: $trans;
}

@mixin btn-default-hover($color, $bg, $border) {
	color: darken($color, 15%);
	background: darken($bg, 3%);
	border-color: darken($bg, 3%);
}

@mixin btn-hover($color, $bg, $border) {
	color: lighten($color, 10%);
	background: lighten($bg, 10%);
	border-color: lighten($bg, 10%);
}

@mixin btn-focus($color, $bg, $border) {
	color: $color;
	background: darken($bg, 15%);
	border-color: darken($bg, 15%);
}

@mixin btn-disabled($color, $bg, $border) {
	color: lighten($color, 25%);
	background: darken($bg, 7%);
	border-color: darken($bg, 7%);
	box-shadow: 0 0 1px transparent;
}

@mixin btn-outline-default-hover($color, $border) {
	color: darken($color, 15%);
	border-color: darken($border, 3%);
}

@mixin btn-outline-hover($color, $border) {
	color: lighten($color, 10%);
	border-color: lighten($border, 10%);
}

@mixin btn-outline-focus($color, $border) {
	color: $color;
	background: darken($border, 15%);
	border-color: darken($border, 15%);
}

@mixin btn-outline-disabled($color, $border) {
	color: lighten($color, 25%);
	border-color: darken($border, 7%);
}

@mixin btn-border-radius($radius) {
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin btn-link-hover() {
	text-decoration: underline!important;
}
