@mixin hexagon($bgc, $bgac, $w) {
	position: absolute;
	height: $w;
	width: $w;
	border-radius: $border-radius;
	font-size: 0.8rem;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	line-height: 1.70;
	background-image: url("../../../beta/images/empty-notification-bg@2x.png");
	background-position: center center;
	background-size: $w $w;
	background-repeat: no-repeat;

	@include media-breakpoint-up(md) {
		right: 12px;
		top: 12px;
	}
}

@mixin hexagon-active($bgc) {
	background-image: url("../../../beta/images/new-notification-bg@3x.png");
}

// For each breakpoint, define the maximum width of the container in a media query
@mixin make-sidebar-max-widths($max-widths: $sidebar-max-widths, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $sidebar-max-width in $max-widths {
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      width: $sidebar-max-width;
      max-width: 100%;
    }
  }
}
